/* styles.css */

* {
    background-color: black;
    color: white;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin: .5em;
    box-sizing: border-box;
    margin: .2em 2em .2em 2em;
}

h1 {
    text-align: center;
    margin: .5em 2em .5em 2em;
}

h2 {
    text-align: center;
    margin: .5em 2em .5em 2em;
}